<div class="container">

    <div class="jumbotron">
        <h1>Mmmmm Burgers</h1>
        <br>
        <h2>Make a Burger</h2>
        <panel>
            <form action="/api/burgers" method="POST">
                    <label for="new-burger">New Burger:</label>
                    <input type="text" id="newburger" name="burger_name" value="">
                    <button type="submit" class="btn btn-success" ><span class="fa fa-thumbs-up"></span></button>
            </form>
        </panel>
    </div><!-- /jumbotron -->

    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Burgers to Eat</strong></div>
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                            {{#unless this.devoured}}
                                <span><strong> {{this.id}} - {{this.burger_name}} </strong></span>
                                <button type="button" class="eat-burger btn btn-warning fa fa-cutlery" data-id="{{this.id}}" data-newDevoured="{{this.devoured}}"></button>
                                <hr>
                            {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        <!-- Devoured Burgers -->
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Burgers already Eaten</strong></div>
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                            {{#if this.devoured}}
                                <h1> {{this.id}} - {{this.burger_name}} </strong></span>
                                <button type="button" class="trash-burger btn btn-danger fa fa-trash" data-id="{{this.id}}" data-newDevoured="{{this.devoured}}"></button>
                                <hr>
                            {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- /row -->

</div>